
{% extends 'base.html'%}
{% load bootstrap4 %}
{% load static%}
{% block body%}

    <!-- bradcam_area  -->
    <div class=" bradcam_bg_1"
    style="
    background-size: cover;
    background-position: center;
    padding: 205px 0 120px 0;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    background-size: cover;
">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
        {% comment %} <img src="{% static 'img/logo .png' %}" alt="Hasan" width="35%" height="260px" style="border-radius: 108%;margin-left: 382px;"></div> {% endcomment %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="job_sumary">
                        <div class="summery_header text-center">
                        <h2 style="color:#00D363">Welcome To System<b> HR</b> </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body%}

